# Supabase
VITE_SUPABASE_URL=https://jahjfkjiskvgnoufibuy.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_q7R-_HcOa9rZbvwwvOTZew_trTmyr9I

# n8n
VITE_N8N_WEBHOOK=https://gauri-n8n.duckdns.org/webhook/figmenta-chat
